TD{
	font-family:verdana,arial;
	color:white;
	font-size:8pt;

}
.news{
	font-family:arial;
}
.bot{
	color:white;
	text-decoration:none;
	font-size:7pt;
	font-family:Verdana;
	font-weight:bold;
	
}
.copy{
	font-size:7pt;
}

.login{
	color: black; 
	font-size: 7pt; 
	font-family: verdana;
} 
td.thickBorder{ border: solid #000 3px;}

.mainTable{
	width: 100%;
	cellspacing: 0;
	cellpadding:0 ;
	border:0;
	
}
.menu{
	color:white;
	text-decoration:none;
	font-size:12pt;
	font-family:Verdana;
	font-weight:bold;
	
}  
.leftMenu{
	color:white;
	text-decoration:none;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;
	
}
.subHead{
	color:Red;
	text-decoration:none;
	font-size:12pt;
	font-family:Verdana;
	font-weight:bold;
	
}
.subHead2{
	color:Red;
	text-decoration:none;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;
	
}

.button{
	border-color:Black;
	align:center;
	color:Black;
	text-decoration:none;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;
	background-color:White;
	
}
.pageTitle{
	color:Green;
	text-decoration:none;
	font-size:18pt;
	font-family:Verdana;
	font-weight:bold;
	align:center;
	
}
.subHead3{
	color:Red;
	align:center;
	text-decoration:none;
	font-size:12pt;
	font-family:Verdana;
	font-weight:bold;
	
}
.subHead4{
	color:White;
	text-decoration:none;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;
	
}
a:hover { color: #00FF00; }

.errorMessage,.required{
	color:Red;
}

    